
.bwall {
    position: relative;
    background-color: brown;
    width: 400px;
    height: 300px;
    top: 350px;
    left: 40vw;
}

.roof {
    position: relative;
    border-bottom: 180px solid #555;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    height: 0;
    width: 125px;
    left: 735px;
    top: -110px;
    border-radius: 20%;
   
}
