
.bwall {
    position: relative;
    background-color: brown;
    border-style: solid;
    width: 400px;
    height: 300px;
    top: 36vh;
    left: 39.2vw;
    border-radius: 5%;
    z-index: 0;
}

.roof {
    position: relative;
    border-bottom: 180px solid #555;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
    height: 0;
    width: 125px;
    left: 37.1vw;
    top: -11vh;
    border-radius: 20%;
    z-index: 1;
}

.chimney {
    position: relative;
    background-color: brown;
    border-style: solid;
    border-radius: 10%;
    height: 70px;
    width: 53px;
    top: -32.5vh;
    left: 51.5vw;
    z-index: 2;
}

.door {
    position: relative;
    background-color: #b26859;
    border-style: solid;
    height: 100px;
    width: 55px;
    left: 54vw;
    top: -2.2vh;
    z-index: 2;
    
}

.handle {
    position: relative;
    margin-left: 3px;
    background-color: black;
    height: 10px;
    width: 10px;
    top: 5vh;
}

.window {
    position: relative;
    background-color: #dfb32c;
    height: 140px;
    width: 140px;
    left: 41vw;
    top: -23vh;
    border-style: solid;

}

.ybar {
    position: relative;
    background-color: brown;
    border-style: solid;
    border-width: 2px;
    height: 140px;
    width: 10px;
    z-index: 4;
    margin-left: 65px;
    margin-top: -2px;
    z-index: 4;
}

.xbar {
    position: relative;
    background-color: brown;
    border-style: solid;
    border-width: 2px;
    width: 141px;
    height: 10px;
    margin-top: -72px;
    margin-left: -2.1px;
    z-index: 5;
}